---
layout: default
meta_title: Peter Lloyd
meta_description: Designer, Front-end Developer &amp; Photographer
body_class: home
title: Designer, Front-end Developer &amp; Photographer
---

<main>
	<!-- Hero -->
	{% include "components/homepage/hero.njk" %}
	<!-- Intro + Skills -->
	{% include "components/homepage/skills.njk" %}
	<!-- Web Projects -->
	{% include "components/homepage/web-projects.njk" %}
	<!-- Companies -->
	{% include "components/homepage/companies.njk" %}
	<!-- Client Photos -->
	{% include "components/homepage/photo-projects.njk" %}
	<!-- Testimonials -->
	{% include "components/homepage/testimonials.njk" %}
	<!-- Callout -->
	{% include "components/homepage/callout.njk" %}
</main>