<div class="bg-white">
  <div class="max-w-screen-lg px-4 py-12 mx-auto lg:py-32">
    <h2
      class="mb-2 text-3xl font-extrabold leading-9 tracking-tight text-center text-mainText sm:text-4xl sm:leading-10">
      Let's start a new project
    </h2>
    <p class="mb-8 text-center text-mainText">Interested in working together? Let's find some time to chat.</p>
    <a href="https://app.hellobonsai.com/f/3897557fb7c18ae" target="_blank"
      class="flex items-center justify-center w-48 px-5 py-3 mx-auto text-xl font-medium leading-6 text-white transition duration-150 ease-in-out bg-transparent border rounded-lg text-petePrimary border-petePrimary hover:bg-petePrimary focus:outline-none focus:shadow-outline hover:text-white">Here
      we go!</a>
  </div>
</div>