<div class="bg-white">
  <div class="max-w-screen-xl px-4 py-20 mx-auto sm:px-6 lg:py-32 lg:px-8">
    <p class="text-xl font-semibold leading-6 tracking-wider text-center uppercase text-mainText">
      I'm proud to have collaborated with some awesome companies:
    </p>
    <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
      <div class="flex self-center justify-center col-span-1 px-8 py-8">
        <img class="max-h-8" src="/images/clients/craft.png" alt="Craft & Commerce Logo" />
      </div>
      <div class="flex self-center justify-center col-span-1 px-8 py-8">
        <img class="max-h-20" src="/images/clients/walsky.svg" alt="Mirage" />
      </div>
      <div class="flex self-center justify-center col-span-1 px-8 py-8">
        <img class="max-h-12" src="/images/clients/omnitech.png" alt="Omnitech Automation logo" />
      </div>
      <div class="flex self-center justify-center col-span-1 px-8 py-8">
        <img class="max-h-14" src="/images/clients/blackbird.svg" alt="Laravel" />
      </div>
      <div class="flex self-center justify-center col-span-1 px-8 py-8">
        <img class="max-h-16" src="/images/clients/bhakti-barn.png" alt="StaticKit" />
      </div>
      <div class="flex self-center justify-center col-span-1 px-8 py-8">
        <img class="max-h-14" src="/images/clients/lederick.svg" alt="Statamic" />
      </div>
    </div>
  </div>
</div>