<section id="skills">
  <div class="bg-petePrimary">
    <div class="px-4 pt-12 sm:px-6 lg:px-8 lg:pt-20">
      <div class="text-center">
        <h2 class="mb-1 text-lg font-semibold leading-6 tracking-wider text-gray-300 uppercase">
          A little about me
        </h2>
        <p class="text-3xl font-extrabold leading-9 text-white mt- sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none">
          Hi, I’m Pete. Nice to meet you.
        </p>
        <p class="max-w-4xl mx-auto mt-3 text-xl leading-7 text-gray-200 sm:mt-5 sm:text-xl sm:leading-8">
          Since beginning my journey as a front-end developer nearly seven years ago, I've worked for an in-house agency, consulted for startups, supported remote agencies, and collaborated with talented people to create digital products for both business and consumer use. I'm quite outgoing, naturally curious, and always learning.
        </p>
      </div>
    </div>

    <div class="pb-12 mt-16 bg-white lg:mt-20 lg:pb-20">
      <div class="relative z-0">
        <div class="absolute inset-0 bg-petePrimary h-5/6 lg:h-2/3"></div>
        <div class="max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">
          <div class="relative lg:grid lg:grid-cols-7">
            <div class="max-w-md mx-auto lg:mx-0 lg:max-w-none lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3">
              <div class="flex flex-col h-full overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-l-lg">
                <div class="flex flex-col flex-1">
                  <div class="px-6 py-10 bg-white">
                    <div>
                      <h2 class="text-2xl font-medium leading-8 text-center text-gray-900">
                        Designer
                      </h2>
                      <div class="flex items-center justify-center mt-4">
                        <p class="text-center text-mainText">I value simple content structure, clean design patterns, and thoughtful interactions.</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col justify-between flex-1 p-6 border-t-2 border-gray-100 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                    <h3 class="text-center text-petePrimary">Design Tools</h3>
                    <ul class="flex flex-col items-center">
                      <li class="flex items-start">
                        <p class="text-base font-medium leading-6 text-gray-500">
                          Figma
                        </p>
                      </li>
                      <li class="flex items-start mt-4">
                        <p class="text-base font-medium leading-6 text-gray-500">
                          Sketch
                        </p>
                      </li>
                      <li class="flex items-start mt-4">
                        <p class="text-base font-medium leading-6 text-gray-500">
                          InVision
                        </p>
                      </li>
                      <li class="flex items-start mt-4">
                        <p class="text-base font-medium leading-6 text-gray-500">
                          Photoshop
                        </p>
                      </li>
                      <li class="flex items-start mt-4">
                        <p class="text-base font-medium leading-6 text-gray-500">
                          Whimsical
                        </p>
                      </li>
                      <li class="flex items-start mt-4">
                        <p class="text-base font-medium leading-6 text-gray-500">
                          Balsamiq Mockups
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="max-w-lg mx-auto mt-10 lg:mt-0 lg:max-w-none lg:mx-0 lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4">
              <div class="relative z-10 rounded-lg shadow-xl">
                <div class="absolute inset-0 border-2 rounded-lg pointer-events-none border-peteSecondary"></div>
                <div class="absolute inset-x-0 top-0 transform translate-y-px">
                  <div class="flex justify-center transform -translate-y-1/2">
                    <span class="inline-flex px-4 py-1 text-sm font-semibold leading-5 tracking-wider text-white uppercase rounded-full bg-peteSecondary">
                      Main Role
                    </span>
                  </div>
                </div>
                <div class="px-6 pt-12 pb-10 bg-white rounded-t-lg">
                  <div>
                    <h2 class="text-3xl font-semibold leading-9 text-center text-gray-900 sm:-mx-6">
                      Front-End Developer
                    </h2>
                    <div class="flex items-center justify-center mt-4">
                      <p class="text-center text-mainText">I love to code projects from scratch, and am a feverish proponent of the JAMstack. I speak in many different languages:
                        <span class="font-semibold text-peteSecondary">HTML, CSS, JavaScript, Python, Vue, Svelte.</span></p>
                    </div>
                  </div>
                </div>
                <div class="px-6 pt-10 pb-8 border-t-2 border-gray-100 rounded-b-lg bg-gray-50 sm:px-10 sm:py-10">
                  <h3 class="text-center text-petePrimary">Development Tools</h3>
                  <ul class="flex flex-col items-center">
                    <li class="flex items-start mt-4">
                      <p class="text-base font-medium leading-6 text-gray-500">
                        VSCode
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <p class="text-base font-medium leading-6 text-gray-500">
                        Eleventy
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <p class="text-base font-medium leading-6 text-gray-500">
                        TailwindCSS
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <p class="text-base font-medium leading-6 text-gray-500">
                        Terminal
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <p class="text-base font-medium leading-6 text-gray-500">
                        Github
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <p class="text-base font-medium leading-6 text-gray-500">
                        GitKraken
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <p class="text-base font-medium leading-6 text-gray-500">
                        CodePen
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="max-w-md mx-auto mt-10 lg:m-0 lg:max-w-none lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3">
              <div class="flex flex-col h-full overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-r-lg">
                <div class="flex flex-col flex-1">
                  <div class="px-6 py-10 bg-white">
                    <div>
                      <h2 class="text-2xl font-medium leading-8 text-center text-gray-900">
                        Photographer
                      </h2>
                      <div class="flex items-center justify-center mt-4">
                        <p class="text-center text-mainText">Regardless of where I am, there is always a camera in my hand. I love capturing the essence of nature.</p>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col justify-between flex-1 p-6 border-t-2 border-gray-100 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                    <h3 class="text-center text-petePrimary">Tools &amp; Services</h3>
                    <ul class="flex flex-col items-center">
                      <li class="flex items-start mt-4">
                        <p class="text-base font-medium leading-6 text-gray-500">
                          Canon 5D Mark IV
                        </p>
                      </li>
                      <li class="flex items-start mt-4">
                        <p class="text-base font-medium leading-6 text-gray-500">
                          Adobe Lightroom
                        </p>
                      </li>
                      <li class="flex items-start mt-4">
                        <p class="text-base font-medium leading-6 text-gray-500">
                          Business Headshots
                        </p>
                      </li>
                      <li class="flex items-start mt-4">
                        <p class="text-base font-medium leading-6 text-gray-500">
                          Interior / Office
                        </p>
                      </li>
                      <li class="flex items-start mt-4">
                        <p class="text-base font-medium leading-6 text-gray-500">
                          Products
                        </p>
                      </li>
                      <li class="flex items-start mt-4">
                        <p class="text-base font-medium leading-6 text-gray-500">
                          On Location
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>