<div class="container mx-auto">
  <div>
    <h2 class="mb-6 text-3xl text-center text-mainText">My Recent Work</h2>
    <p class="mb-20 text-xl text-center text-mainText">Here are a few of my most recent client projects. Want to
      see more? <a href="#" class="font-semibold">Let's talk!</a></p>
  </div>
  <div class="lg:grid lg:grid-cols-3 lg:gap-6">
    <div class="overflow-hidden rounded shadow-lg">
      <img class="w-full" src="/images/craft.jpg" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="mb-2 text-2xl font-bold text-mainText">Craft &amp; Commerce</div>
        <p class="text-base text-mainText">
          Dedicated to helping mission-driven organizations thrive in today’s complex, fast-evolving marketplace for
          attention.
        </p>
      </div>
      <div class="px-6 pb-2">
        <h3 class="mb-3 ml-1 text-xl text-mainText">My Roles:</h3>
        <span class="inline-block px-3 py-1 mr-2 text-sm font-semibold bg-gray-200 rounded-full text-mainText">
          Development
        </span>
      </div>
      <div class="px-6 py-4">
        <a href="https://craftand.com/" target="_blank">Visit Website</a>
      </div>
    </div>
    <div class="overflow-hidden rounded shadow-lg">
      <img class="w-full" src="/images/blackbird.jpg" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="mb-2 text-2xl font-bold text-mainText">Blackbird Yoga Studio</div>
        <p class="text-base text-mainText">
          Helping women of every shape and size experience stillness and joy through mindful body movements.
        </p>
      </div>
      <div class="px-6 pb-2">
        <h3 class="mb-3 ml-1 text-xl text-mainText">My Roles:</h3>
        <span class="inline-block px-3 py-1 mr-2 text-sm font-semibold bg-gray-200 rounded-full text-mainText">
          Development
        </span>
        <span class="inline-block px-3 py-1 mr-2 text-sm font-semibold bg-gray-200 rounded-full text-mainText">
          Design
        </span>
        <span class="inline-block px-3 py-1 mr-2 text-sm font-semibold bg-gray-200 rounded-full text-mainText">
          Photography
        </span>
      </div>
      <div class="px-6 py-4">
        <a href="http://blackbirdyogastudio.com/" target="_blank">Visit Website</a>
      </div>
    </div>
    <div class="overflow-hidden rounded shadow-lg">
      <img class="w-full" src="/images/walsky.jpg" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="mb-2 text-2xl font-bold text-mainText">Walsky Financial</div>
        <p class="text-base text-mainText">
          Walsky Investment Management is a Registered Investment Advisor that helps individuals and families invest for
          the future.
        </p>
      </div>
      <div class="px-6 pb-2">
        <h3 class="mb-3 ml-1 text-xl text-mainText">My Roles:</h3>
        <span class="inline-block px-3 py-1 mr-2 text-sm font-semibold bg-gray-200 rounded-full text-mainText">
          Development
        </span>
        <span class="inline-block px-3 py-1 mr-2 text-sm font-semibold bg-gray-200 rounded-full text-mainText">
          Design
        </span>
      </div>
      <div class="px-6 py-4">
        <a href="https://walsky.com/" target="_blank">Visit Website</a>
      </div>
    </div>
  </div>
</div>